<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>HM / Employee Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link th:href="@{/style.css}" rel="stylesheet">

</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-shadow">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">SERVIS</a>
    <a href="#hall" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CAWANGAN</a>
    <a href="#booking" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TENTANG KAMI</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
  	<a class="w3-bar-item w3-padding-large w3-center w3-display-topmiddle w3-text-grey">HOME MANAGER</a>
  	<div th:if="${session.isEmpty()}">
	  	<a th:href="@{/register/choose}" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Daftar</a>
	  	<a th:href="@{/login}" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Log Masuk</a>	
  	</div>
  	<div th:if="!${session.isEmpty()}">
  		<a th:href="@{/logout}"  class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Buat Temujanji</a>
  		<a th:text="'Hello, '+ ${session.name}" th:href="@{/account/{id} (id=${session.id})}" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right"></a>
  	</div>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#hall" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">HALL</a>
  <a href="#booking" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BOOKING</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MORE</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px; margin-top:46px">

	<form name="employeefrm" th:action="@{/registeremployee}" th:object = ${register} method="POST">
	  <h1 style="text-align:center; ">BORANG PERMOHONAN JAWATAN PENGURUS KEDIAMAN (HOME MANAGER)</h1>
	  <p style="color: blue;">1. MAKLUMAT PERIBADI PEMOHON</p>
	  <label for="name">Nama :</label>
	  <input type="text" name="name" placeholder="Nama Penuh" th:field="*{name}"><br>
	  <label for="ic">No. Kad Pengenalan :</label>
	  <input type="text" name="ic" placeholder="No. Kad Pengenalan" th:field="*{ic}"><br>
	  <label for="ic">Umur :</label>
	  <input type="text" name="age" placeholder="Umur" th:field="*{age}"><br>
	  <label for="address">Alamat :</label>
	  <input type="text" name="address" placeholder="Alamat" th:field="*{address}"><br>
	  <label for="phonenum">No. Tel :</label>
	  <input type="text" name="phonenum" placeholder="No. tel" th:field="*{phonenum}"><br>
	  <label for="phonenum2">No. Tel (Waris yang boleh dihubungi) :</label>
	  <input type="text" name="phonenum2" placeholder="No. tel waris" th:field="*{phonenum2}"><br>
	  <label for="race">Bangsa :</label>
	  <input type="text" name="race" placeholder="Bangsa" th:field="*{race}"><br>
	  <br>
	  <p style="color: green;">Jantina :</p>
	  <label for="gender">Perempuan</label>
	  <input type="radio" id="female" name="gender" value="Perempuan" th:field="*{gender}">
	  <label for="gender">Lelaki</label>
	  <input type="radio" id="male" name="gender" value="Lelaki" th:field="*{gender}"><br>
	  <br>
	  <p style="color: green;">Status Perkahwinan* :</p>
	  <label>Bujang</label>
	  <input type="radio" id="bujang" name="marriage" value="Bujang" th:field="*{marriage}">
	  <label>Berkahwin</label>
	  <input type="radio" id="berkahwin" name="marriage" value="Berkahwin" th:field="*{marriage}">
	  <label>Ibu Tunggal</label>
	  <input type="radio" id="ibutunggal" name="marriage" value="Ibu Tunggal" th:field="*{marriage}">
	  <label>Bapa Tunggal</label>
	  <input type="radio" id="bapatunggal" name="marriage" value="Bapa Tunggal" th:field="*{marriage}">
	  
	  <br>
	  <p style="color: green;">Kelulusan Akademik* :</p>
	  <label>UPSR</label>
	  <input type="radio" id="upsr" name="academic" value="UPSR" th:field="*{academic}">
	  <label>PT3</label>
	  <input type="radio" id="pt3" name="academic" value="PT3" th:field="*{academic}">
	  <label>SPM</label>
	  <input type="radio" id="spm" name="academic" value="SPM" th:field="*{academic}">
	  <label>STPM</label>
	  <input type="radio" id="stpm" name="academic" value="STPM" th:field="*{academic}">
	  <label>Diploma</label>
	  <input type="radio" id="diploma" name="academic" value="Diploma" th:field="*{academic}">
	  <label>Ijazah</label>
	  <input type="radio" id="ijazah" name="academic" value="Ijazah" th:field="*{academic}">
	  <label>Master</label>
	  <input type="radio" id="master" name="academic" value="Master" th:field="*{academic}">
	  <label>PHD</label>
	  <input type="radio" id="PHD" name="academic" value="PHD">
	  
	  <br>
	  <p style="color: green;">Penyakit* :</p>
	  <label>Ya</label>
	  <input type="radio" id="yes" name="disease" value="YES" th:field="*{disease}">
	  <label>Tidak</label>
	  <input type="radio" id="no" name="disease" value="NO" th:field="*{disease}">
	  
	  <br>
	  <p style="color: green;">Pemilikan Lesen & Kenderaan* :</p>
	  <label>Ya</label>
	  <input type="radio" id="yes" name="license" value="YES" th:field="*{vehicle}">
	  <label>Tidak</label>
	  <input type="radio" id="yes" name="license" value="NO" th:field="*{vehicle}">
	
	
	
	  <p style="color: blue;">2. SKOP TUGAS / MINAT / PENGALAMAN</p>
	  <label for="jagaanak">Mengemas Kediaman</label>
	  <input type="checkbox" id="kemasrumah" name="jobscope" value="Mengemas Kediaman"><br>
	  <label for="jagaanak">Penjagaan Kanak-kanak</label>
	  <input type="checkbox" id="jagaanak" name="jobscope" value="Penjagaan Kanak-kanak"><br>
	  <label for="jagaorangtua">Penjagaan Warga Emas</label>
	  <input type="checkbox" id="jagaorangtua" name="jobscope" value="Penjagaan Warga Emas"><br>
	  <label for="jagaanak">Penjagaan Warga OKU</label>
	  <input type="checkbox" id="kemasrumah" name="jobscope" value="Penjagaan Warga OKU"><br>
	  <br>
	  <input type="submit" value="Hantar">
  </form>
  <p style="color: blue;">Borang ini akan dinilai dan disemak oleh pegawai YPKT terlebih dahulu.</p>


</div>
<!-- End Page Content -->


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Dibangunkan oleh <a href="#" target="_blank">Yayasan Pembangunan Keluarga Terrengganu</a></p>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>